.hotel-booking-page {
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 40px;
  background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  /* background-color: rgb(108, 105, 105); */
  opacity: 1.0;
}
h2 {
  color: #fefcfc;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #000000;
  font-size: 18px;
}

input[type="date"],
input[type="number"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.loc{
  transform: translatex(30px);
  /* padding-left: 100px; */
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
  color: #fff;
  padding: px;
}

.navbar h2 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.navbar li {
  margin-left: 10px;
}

.navbar li:first-child {
  margin-left: 0;
}

.footer {
  background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Adjust the height value as desired */
}

.footer p {
  margin: 0;
}


.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #ffcc00;
}



